# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.settings
.project
**.class**
/BowlerStudioUpdater/
/BowlerStudioUpdater.AppDir/
**.AppImage**
**.classpath**
/input/
/temp*/
/BowlerLauncher*.*
/BowlerLauncher/
HatRack*
/zulu*.zip*
/zulu*.tar*
**.deb
release
**.DS_Store**
**AppDir**
CaDoodle
/CaDoodle.png
